<h1>New Subscriber</h1>
<p>
  <b>Email:</b>
  <%= @subscriber.email %>
</p>
<p>Talk to your customer!</p>
<ul>
  <li>What were they looking for when they came across Your App?</li>
  <li>What was it about Your App that made them sign up?</li>
</ul>