<div class="row contact">
  <div class="row info-section">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <div class="encircle">
        <i class="fa fa-search circle-icon" aria-hidden="true"></i>
      </div>
      <br>
      <h3 class="info-heading">Search</h3><br>
      <p class="buffer">Search listings from rental stores and private individuals. </p> 
      <p class="buffer">We do the legwork and aggregate listings from around the world in one single database. </p>
    </div>
    <div class="col-md-2">
      <div class="encircle">
        <i class="fa fa-bicycle circle-icon" aria-hidden="true"></i>
      </div>
      <br>
      <h3 class="info-heading">Borrow gear</h3><br>
      <p class="buffer">Borrow gear when you need it, where you need it, at an affordable price.</p>
      <p class="buffer">Don't spend thousands on gear you may only use once a year!</p>
    </div>
    <div class="col-md-2">
      <div class="encircle">
        <i class="fa fa-money circle-icon" aria-hidden="true"></i>
      </div>
      <br>
      <h3 class="info-heading">Earn cash</h3><br>
      <p class="buffer">Make easy cash from your bike, surfboard, ski gear any outdoors equipment.</p> 
      <p class="buffer">You control who borrows your gear and can refuse any request at any time.</p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row bottom-banner">

    <div class="col-md-4"></div>

    <div class="col-md-1 top-contact">
      <a href="http://www.twitter.com/peer_gear" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-1 top-contact">
      <a href="http://www.facebook.com/peergear" target="_blank" id="facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-1 top-contact">
      <a href="https://www.instagram.com/peer_gear/" target="_blank" id="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-1 top-contact">
      <a href="mailto:hello@peergear.io"><i class="fa fa-envelope" aria-hidden="true" id="email"></i></a>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-12 text-muted built-by-2">
      <span class="text-muted">Built by</span>
      <%= link_to "PeerGear Ltd", "#" %>
    </div>

  </div>

</div>