<!-- <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 contact-header">
    <h2 class="contact-header">Contact the team</h2>
    <div class="col-md-6 left-contact">
      <span class="email"><i class="fa fa-envelope" aria-hidden="true"></i>hello@peergear.io</span>
      <i class="fa fa-twitter" aria-hidden="true"></i> <br> 
      <i class="fa fa-facebook-official" aria-hidden="true"></i> <br>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <h2 class="contact-header">Contact the team</h2>
  </div>

  <div class="col-md-3"></div>

  <div class="col-md-2 top-contact">
    <a href="http://www.twitter.com/peer_gear" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-2 top-contact">
    <a href="http://www.facebook.com/peergear" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-2 top-contact">
    <a href="mailto:hello@peergear.io"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </div>

  <div class="col-md-3"></div>
</div>

<div class="row">

  <div class="col-md-3"></div>

  <div class="col-md-2 bottom-contact">
    @peer_gear
  </div>
  <div class="col-md-2 bottom-contact">
    /peergear
  </div>
  <div class="col-md-2 bottom-contact">
    hello@peergear.io
  </div>
  
  <div class="col-md-3"></div>
</div>

<div class="row">

<div class="col-md-12 text-muted built-by-2">
  <span class="text-muted">Built by</span>
  <%= link_to "PeerGear Ltd", "#" %>
</div>





<!-- 
<div class="row">
  <div class="col-md-6 left-contact">
    <i class="fa fa-twitter" aria-hidden="true"></i><br> 
    <i class="fa fa-facebook-official" aria-hidden="true"></i><br>
    <i class="fa fa-envelope" aria-hidden="true"></i><br>
  </div>
  <div class="col-md-6 right-contact">
    <div class="twitter-handle">@peer_gear</div><br>
    <div class="facebook-address">/peergear</div><br>
    <div class="email-address">hello@peergear.io</div><br>
  </div>
</div> -->



<!-- <div class="row">
  <table class="table">
    <tbody>
      <tr>
        <td>
        <td>@peer_gear</td>
      </tr>
    </tbody>
  </table>
</div> -->


<!-- <table class="table">
  <tbody>
    <tr>
      <td class="table-left"><i class="fa fa-twitter" aria-hidden="true"></i></td>
      <td class="table-right">Twitter</td>
    </tr>
    <tr>
      <td class="table-left">Mark</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <td class="table-left">Mark</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table> -->

