<div class="container custom-footer">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-muted built-by">
      <span class="text-muted">Built by</span>
      <%= link_to "PeerGear Ltd", "#" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>