<div class="container mtxl mbxl">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <span class="text-muted">Built by</span>
      <%= link_to "YourCompany", "#" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>