<div class="row">

  <div class="col-md-6">
    <%= render "shared/twitter_btn" %>
  </div>

  <div class="col-md-6 navbar-right">
    <span class="navbar-category" id="about-nav">ABOUT</a></span>
    <span class="navbar-category" id="contact-nav">CONTACT</span>
  </div>

</div>
