<div class="row">

  <div class="col-md-6">
    <%= render "shared/twitter_btn" %>
  </div>

  <div class="col-md-6 text-right">
    <span class="navbar-category">ABOUT</span>
    <span class="navbar-category">CONTACT</span>
  </div>

</div>
