<% if flash[:error] and !flash[:error].blank? %>
  <div class="alert alert-error fade in">
    <a class="close" data-dismiss="alert" href="#"></a>
    <div class="container">
      <p class="error">
        <%= flash[:error] %>
      </p>
    </div>
  </div>
<% end %>
<% if flash[:notice] and !flash[:notice].blank? %>
  <div class="alert alert-info fade in">
    <a class="close" data-dismiss="alert" href="#"></a>
    <div class="container">
      <p class="notice">
        <%= flash[:notice] %>
      </p>
    </div>
  </div>
<% end %>
<% if flash[:alert] and !flash[:alert].blank? %>
  <div class="alert alert-warning fade in">
    <a class="close" data-dismiss="alert" href="#"></a>
    <div class="container">
      <p class="notice">
        <%= flash[:alert] %>
      </p>
    </div>
  </div>
<% end %>