<%if flash[:error] && !flash[:error].blank? %>
  <div class="alert alert-error fade in">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <div class="container">
      <p class="error">
        <%= flash[:error] %>
      </p>
    </div>
  </div>

<% if flash[:notice] && !flash[:notice].blank? %> 
  <div class="alert alert-error fade in">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <div class="container">
      <p class="notice">
        <%= flash[:notice] %>
      </p>
    </div>
  </div>

<% if flash[:alert] && !flash[:alert].blank %> 
  <div class="alert alert-warning fade in">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <div class="container">
      <p class="alert">
        <%= flash[:alert] %>
      </p>
    </div>
  </div>

<% end %>