
<div class="custom-navbar">
  <%= render "shared/navbar" %>
</div>
 
<div class="container">
  <div class="row main-text">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center mtxl" id="center-screen">
      <%= image_tag "peergear-logo.png", :class => "logo"%>
      <h1 class="heading-l">Rent gear. Save cash. </br> Start your adventure.</h1>
      <h2 class="lead text-muted">
        PeerGear is the world's marketplace for the rental of sporting and outdoors equipment. 
      </h2>
      <div class="mtxl mbxl">
        <%= render "subscribers/form" %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div> 

<video autoplay muted poster="https://s3.amazonaws.com/pg-platform/bg-combined-vsmall.mp4" id="bgvid" loop>
  <source src="https://s3.amazonaws.com/pg-platform/bg-combined-vsmall.mp4" type="video/webm" loop>
</video>
<div id="video-overlay"></div>

