@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,600';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

.custom-navbar {
  top: 0;
  left: 0; right: 0;
  height: 60px;
  width: 100%;
  padding: 20px;
  position: absolute;
}

.navbar-category {
  padding: 0 15px 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-category:hover {
  color: #EA898C;
}

.custom-footer {
  bottom: 0;
  left: 0; right: 0;
  height: 90px;
  width: 100%;
  padding: 20px;
  position: absolute;
}

.bgvid-container {
  height: 60vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}

#bg-video {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  background: transparent url(video-bg.jpg) no-repeat;
  background-size: cover;
  display: block;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#video-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -50;
}

.stopfade {
   opacity: .5;
}

.main-text {
  padding-top: 17vh;
}

h1 {
  color: #fff;
  font-weight: 30;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
}

.lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FEFEFE;
}

.text-muted {
  text-align: center;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  font-family: 'Montserrat', sans-serif;
}

.reserve-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #DC3238;
  border: none;
}

.reserve-button:hover {
  background-color: #EA898C;
}

